.container {
  box-sizing: border-box;
  margin-top: 5rem;
  padding: 3rem;
  height: fit-content;
  width: 90%;
}

.hero-side {
  box-sizing: border-box;
  padding: 1rem;
}

.hero-side {
  display: flex;
  justify-content: space-between;
}

.hero-side .comp {
  width: 1rem;
}

.left-side .hero-img {
  width: 90%;
}

.right-side .hero-img {
  width: 74%;
}

.main {
  box-sizing: border-box;
  padding: 3rem 5rem;
}

.main .header {
  padding: 0.5rem 0;
  border-bottom: 2px solid #4e4343;
  width: fit-content;
  font-weight: 700;
  margin-bottom: 2rem;
}

.main .content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  gap: 1rem;
}

footer {
  box-sizing: border-box;
  padding: 0.8rem 0;
  background-color: #eaeaea;
}
